<div class="container">
  <div class="row" style="background-color: skyblue; padding: 1em; margin-top: 1em; border:1px black solid">
    <app-header></app-header>
  </div>

  <div class="row">
    <div class="col-lg-3 col-md-3 col-sm-2 col-xs-12" style="padding: 1.5em; background-color: skyblue; margin-top: 1em; border:1px black solid">
      <app-nav></app-nav>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1"></div>
    <div class="col-lg-8 col-md-8 col-sm-10 col-xs-12" style="padding: 1.5em; background-color: skyblue; margin-top: 1em; border:1px black solid">
      <app-main></app-main>
    </div>
</div>
